/* body {
    background-color: #fffbfa;
} */

.dashboard {
    /* background-color: antiquewhite; */
    height: 100vh;
}

.profile .profile-pic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.profile h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.profile p {
    font-size: 0.9rem;
}

.tab {
    width: 100%;
}

.logo {
    height: 49px;
    /* border: 1px solid black; */
}

.create-course {
    height: 70px;
    text-decoration: none;
}

.custom-i {
    width: 30px;
    height: 30px;
}

.course-content {
    height: 175px;
}

.course-content a {
    text-decoration: none;
}

.box-course {
    height: 300px;
    margin-right: 0.5px;
    margin-left: 0.5px;
    border: 1.5px solid #ffd7b5;
}

.content-list {
    height: 100px;
}

.textarea-custom {
    /* background-color: blue; */
    height: 300px;
}

.btn-custom {
    width: 150px;
}

.bg-solid-blue {
    background-color: #4485be;
}

.bg-solid-blue-light {
    background-color: #accfee;
}

.bg-solid-orange {
    background-color: #fe5244;
}

.bg-solid-orange-light {
    background-color: #ffd7b5;
}

.bg-solid-white {
    background-color: white;
}

.bg-solid-green {
    background-color: #0096a0;
}

.bg-solid-yellow {
    background-color: #ffcf2d;
}

.text-white {
    color: white;
}

.text-orange {
    color: #fe5244;
}

.text-blue {
    color: #176ebb;
}

.title-dashboard {
    width: 100%;
    height: 130px;
}

.img-fluid-custom {
    width: 500px;
    right: -85px;
    top: -25px;
}
